
$theme: '.ace';
$theme: '.ace.dark.sc-regular-size';


  #{$theme}.button {

    .sc-button-label {
      height: 24px;
      padding-top:2px;
    }

    & > .left {
@extend .__s38_72;
-chance-offset: "resources/button/dark/24px/normal_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s38_73;
-chance-offset: "resources/button/dark/24px/normal_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s38_74;
-chance-offset: "resources/button/dark/24px/normal_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;

    &.active {
      & > .left {
@extend .__s38_75;
-chance-offset: "resources/button/dark/24px/active_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s38_76;
-chance-offset: "resources/button/dark/24px/active_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s38_77;
-chance-offset: "resources/button/dark/24px/active_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;
    }

    &.sel, &.def {
      & > .left {
@extend .__s38_78;
-chance-offset: "resources/button/dark/24px/selected_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s38_79;
-chance-offset: "resources/button/dark/24px/selected_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s38_80;
-chance-offset: "resources/button/dark/24px/selected_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;
    }

    &.sel.active, &.def.active {
      & > .left {
@extend .__s38_81;
-chance-offset: "resources/button/dark/24px/selected_active_button_0_0_3__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 3px; 
}
& > .middle {
@extend .__s38_82;
-chance-offset: "resources/button/dark/24px/selected_active_button_3_0_1__0_" 0 0;background-repeat: repeat-x;
position: absolute;
left: 3px; 
top: 0px; 
right: 3px; 
bottom: 0px; 
}
& > .right {
@extend .__s38_83;
-chance-offset: "resources/button/dark/24px/selected_active_button__0_3__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 3px; 
}
;
    }
  }

  
$theme: '.ace.dark.sc-regular-size.point-left';

    #{$theme}.button {
      & > .left {
@extend .__s38_84;
-chance-offset: "resources/button/dark/24px/normal_button_pointer_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
;

      .middle { left: 12px; }

      &.active {
        & > .left {
@extend .__s38_85;
-chance-offset: "resources/button/dark/24px/active_button_pointer_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
;
        .middle { left: 12px; }
      }

      &.sel, &.def {
        & > .left {
@extend .__s38_86;
-chance-offset: "resources/button/dark/24px/selected_button_pointer_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
;
        .middle { left: 12px; }
      }

      &.sel.active, &.def.active {
        & > .left {
@extend .__s38_87;
-chance-offset: "resources/button/dark/24px/selected_active_button_pointer_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
;
        .middle { left: 12px; }
      }
    }
  $theme: '.ace.dark.sc-regular-size';


  
$theme: '.ace.dark.sc-regular-size.point-right';

    #{$theme}.button {
      & > .right {
@extend .__s38_88;
-chance-offset: "resources/button/dark/24px/normal_button_pointer__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;

      .middle { right: 12px; }

      &.active {
        & > .right {
@extend .__s38_89;
-chance-offset: "resources/button/dark/24px/active_button_pointer__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;
        .middle { right: 12px; }
      }

      &.sel, &.def {
        & > .right {
@extend .__s38_90;
-chance-offset: "resources/button/dark/24px/selected_button_pointer__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;
        .middle { right: 12px; }
      }

      &.sel.active, &.def.active {
        & > .right {
@extend .__s38_91;
-chance-offset: "resources/button/dark/24px/selected_active_button_pointer__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;
        .middle { right: 12px; }
      }
    }
  $theme: '.ace.dark.sc-regular-size';


  
$theme: '.ace.dark.sc-regular-size.capsule';

    #{$theme}.button {
      & > .left {
@extend .__s38_92;
-chance-offset: "resources/button/dark/24px/normal_button_capsule_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
& > .right {
@extend .__s38_93;
-chance-offset: "resources/button/dark/24px/normal_button_capsule__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;

      .middle { left: 12px; right: 12px; }

      &.active {
        & > .left {
@extend .__s38_94;
-chance-offset: "resources/button/dark/24px/active_button_capsule_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
& > .right {
@extend .__s38_95;
-chance-offset: "resources/button/dark/24px/active_button_capsule__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;
        .middle { left: 12px; right: 12px; }
      }

      &.sel, &.def {
        & > .left {
@extend .__s38_96;
-chance-offset: "resources/button/dark/24px/selected_button_capsule_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
& > .right {
@extend .__s38_97;
-chance-offset: "resources/button/dark/24px/selected_button_capsule__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;
        .middle { left: 12px; right: 12px; }
      }

      &.sel.active, &.def.active {
        & > .left {
@extend .__s38_98;
-chance-offset: "resources/button/dark/24px/selected_active_button_capsule_0_0_12__0_" 0 0;background-repeat: no-repeat;
position: absolute;
left: 0px; 
top: 0px; 
bottom: 0px; 
width: 12px; 
}
& > .right {
@extend .__s38_99;
-chance-offset: "resources/button/dark/24px/selected_active_button_capsule__0_12__0_0" 0 0;background-repeat: no-repeat;
position: absolute;
top: 0px; 
right: 0px; 
bottom: 0px; 
width: 12px; 
}
;
        .middle { left: 12px; right: 12px; }
      }
    }
  $theme: '.ace.dark.sc-regular-size';

$theme: '.ace';

